<div class="wrapper_main">
    <div class="heading_wrappert_weather">
        <h1>weather app</h1>
    </div>
    <div class="input_wrapper">
        <div class="input_main">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City/Town</mat-label>
                    <input [disabled]="pin.length>0" matInput #cityInput placeholder="Enter city name" value=""
                        (keyup)="setCity(cityInput.value)">
                </mat-form-field>
                <p class="or_seperator">-- OR --</p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Pincode</mat-label>
                    <input [disabled]="city.length>0" matInput #pinInput placeholder="Enter Pincode" value=""
                        (keyup)="setPin(pinInput.value)">
                </mat-form-field>

            </form>
            <button mat-raised-button color="warn" class="submit_button" (click)="searchClicked()">Search</button>
        </div>
        <div class="image_main">
            <img src="assets/weather.jpg" class="img_weather"/>
        </div>
    </div>
    <div class="weather_wrapper" *ngIf="weatherData?.location">
        <div class="city_details">
            <span class="label_name">location:</span>
            <span class="data">{{weatherData?.location?.name}} ,{{weatherData?.location?.region}}
                ,{{weatherData?.location?.country}}</span>

            <span class="label_name">local time:</span>
            <span class="data">{{weatherData?.location?.localtime}}</span>

            <span class="label_name">time zone:</span>
            <span class="data">{{weatherData?.location?.tz_id}}</span>
        </div>

    </div>
    <div class="tabs_wrapper" *ngIf="weatherData?.location">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Current">
                <div class="content_tabs">
                    <div class="widget">
                        <div class="left-panel panel">
                            <div class="date">
                                {{formatDate(weatherData?.current?.last_updated)}}
                            </div>
                            <div class="city">
                                {{weatherData?.location?.name}}
                            </div>
                            <div class="temp">
                                <img src={{weatherData?.current?.condition?.icon}} alt="" width="100">
                                <p class="temp_data">
                                    <span class="weather_temp">{{weatherData?.current?.temp_c}}&deg;</span>
                                    <span class="type_data">{{weatherData?.current?.condition?.text}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="right-panel panel">

                        </div>

                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Astro">
                <div class="content_tabs">

                    <table class="astro_table">
                        <tr>
                            <th>Title</th>
                            <th>Details</th>
                        </tr>
                        <tr *ngFor="let row of astro">
                            <td class="title">{{row?.key}}</td>
                            <td>{{row?.val}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Forecast Day">
                <div class="content_tabs">
                    <table class="astro_table">
                        <tr>
                            <th>Title</th>
                            <th>Details</th>
                        </tr>
                        <tr *ngFor="let row of forecast">
                            <td class="title">{{row?.key}}</td>
                            <td>{{row?.val}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Air Quality">
                <div class="content_tabs">
                    <table class="astro_table">
                        <tr>
                            <th>Title</th>
                            <th>Details</th>
                        </tr>
                        <tr *ngFor="let row of airquality">
                            <td class="title">{{row?.key}}</td>
                            <td>{{row?.val}}</td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="spinner" *ngIf="loader">
    <mat-spinner></mat-spinner>
</div>