<div class="sideBar_main" *ngIf="openSideBar">
    <div class="side_bar_content">
        <div class="menu_head">
            <h2>Prasann D Patil</h2>
            <p>senior software developer</p>
        </div>

        <app-sidebar-content></app-sidebar-content>
        <div class="bottom">
            <p>this website is developed by me (Prasann Patil) using technology Angular, typescript, material UI & bootstrap</p>
        </div>
        <div class="close_icon" (click)="closeClick()">
            <img src="assets/cross.svg" />
        </div>
    </div>


</div>