<!-- 
<div class="app_parent_wrapper">
  <app-timer from="pages" from="pages"></app-timer>
  <app-alerts></app-alerts>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button mat-stroked-button class="closeButton" (click)="drawer.toggle()">close</button>
      <div class="side-bar-content">
        <app-sidebar-content></app-sidebar-content>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="navbar_main">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>My PortFolio</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

              <mat-icon mat-button (click)="drawer.toggle()">menu</mat-icon>
            </button>
          </mat-toolbar-row>

          <mat-toolbar-row>
            <span routerLink="/skills">Listing</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" routerLink="/save-for-later"
              aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" 
            routerLink="/"
            aria-label="Example icon-button with share icon">
              <mat-icon (click)="openDialog()">share</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="router_main">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </div>

  </mat-drawer-container>
</div> -->

<div class="main_app_wrapper">
  <app-alerts></app-alerts>
  <app-navbar></app-navbar>
  <div class="router_main">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>

</div>