<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="each column">
                <h2>Contact Me</h2>
                <div class="list_wrapper">
                    <ul>
                        <li><img src="assets/phone.png" class="icon"> 9075916336</li>
                        <li><img src="assets/phone.png" class="icon"> 9022368410</li>
                        <li><img src="assets/mail.png" class="icon"> prasann1411999@gmail.com</li>
                        <li class="btns_footer">
                            <button class="view_resume" routerLink="/projects/prasann-patil-senior-web-dev-resume">View resume</button>
                            <button class="view_wa" (click)="openwhatsapp()"><img src="assets/whatsapp.svg" class="icon"> Whatsapp</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="each column">
                <h2>Experience</h2>
                <div class="list_wrapper">
                    <ul>
                        <li>Web development</li>
                        <li>Graphics design</li>
                        <li>ADDA247</li>
                        <li>StudyIQ(product of ADDA247)</li>
                        <li>CareerPower(product of ADDA247)</li>
                        <li>SankalpBharat(product of ADDA247)</li>
                        <li>COEP</li>
                    </ul>
                </div>
            </div>
            <div class="each column mweb_hide">
                <h2>Education</h2>
                <div class="list_wrapper">
                    B Tech ,Govt college of engineering pune (COEP).Strong academic background & TRIPLE placement holder
                    from a tier 1 college with robust problem-solving, complex logic building, analytical reasoning, and
                    top-level mathematical skills
                </div>
            </div>

            <div class="list_wrapper mweb_hide">
                <h2>Major skills</h2>
                <ul>
                    <li></li>
                    <li>Next js</li>
                    <li>React js</li>
                    <li>Angular</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                </ul>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">

    </div>
</footer>